
<!DOCTYPE html>

<html lang=“eng”>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find places with good coffee and wifi around your area">
        <meta name="author" content="Ekaterina Atencio">

		<title>Coffee and Wifi</title>

        <!-- BOOTSTRAP CSS -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- CUSTOM CSS -->
		<link rel="stylesheet" href="static/css/styles.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
    </head>

        <body class="d-flex h-90vh text-center text-bg-dark" data-new-gr-c-s-check-loaded="14.1146.0" data-gr-ext-installed="" style="background:transparent url('https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?q=80&w=2078&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: 100vw 100vh; background-repeat: no-repeat; background-position-x: right; background-position-y: 43%; background-attachment: fixed; ">


            <div class="cover-container d-flex w-100 h-90 p-3 mx-auto flex-column" style="max-width: 70rem; height: 100vh;">

              <header class="mb-5" >
                <div>
                    <a class="nav-link fw-bold py-1 px-2 text-white" href="{{url_for('home')}}"> <h1 class="float-md-start mb-0">Caffefi</h1></a>
                  <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-2 text-white" aria-current="page" href="{{url_for('home')}}">Find Places</a>
                    <a class="nav-link fw-bold py-1 px-2 text-white" href="{{url_for('places')}}">All Places</a>
                    <a class="nav-link fw-bold py-1 px-2 text-white" href="{{url_for('add_place')}}">Add Place</a>
                  </nav>
                </div>
              </header>


              <main class="px-1 mt-5">






